<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"></property>
		<property name="jdbcUrl" value="jdbc:sqlserver://192.168.240.129:1433;DatabaseName=qnonline"></property>
		<property name="user" value="sa"></property>
		<property name="password" value="qaz123"></property>
		<property name="minPoolSize" value="2"></property>
		<property name="maxPoolSize" value="20"></property>
		<property name="initialPoolSize" value="3"></property>
		<property name="acquireIncrement" value="2"></property>
		<property name="maxIdleTime" value="18000"></property>
		<property name="checkoutTimeout" value="10000"></property>
	</bean>
	
	<bean id="vuservice" class="com.lzybj.service.VoteUserService">
		<property name="dataSource" ref="dataSource"></property>
	</bean>	

</beans>