<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- 员工相关业务逻辑 -->
	<bean id="empservice" class="com.lzybj.service.SysEmployeeService">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 报销项目相关业务逻辑 -->
	<bean id="itemservice" class="com.lzybj.service.SysDictionaryService">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 报销单相关业务逻辑 -->
	<bean id="bxdservice" class="com.lzybj.service.BizClaimVoucherService">
		<property name="sessionFactory" ref="sessionFactory"></property>
		<property name="empservice" ref="empservice"></property>
	</bean>
	
</beans>